<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hyoma.app.lollivewallpaper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" >
    </uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@drawable/chibimord_frame0"
        android:label="@string/app_name" >
  
        <!--  The service class that allows long-running background operations -->
        <service
            android:name="LolpaperService"
            android:enabled="true"
            android:label="Lolpaper"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" >
                </action>
            </intent-filter>
            <!-- This sets the wallpaper preferences -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/lollivewallpaper" >
            </meta-data>
        </service>
        <!-- Receiver that listens for change in wallpaper -->
        <receiver
   			android:name=".WallpaperChangedReciever">
		   <intent-filter>
		      <action android:name="android.intent.action.WALLPAPER_CHANGED" />
		   </intent-filter>
		</receiver>
		<!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/HoloTransparent"
            android:exported="true">
            <intent-filter>
        		<action android:name="android.intent.action.MAIN" />
    		</intent-filter>
        </activity>
        <!-- Set Wallpaper Activity -->
        <activity
            android:name=".StartLolpaperActivity"
            android:label="@string/app_name"
            android:theme="@style/HoloTransparent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Grid view activity for the list of available animations -->
    </application>
    <!-- Give permission to change the wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

</manifest>